.flex-grow-5 {
  flex-grow: 0.5;
}

.turned {
  transform: rotate(0.5turn);
}

.mb-25 {
  margin-bottom: ($spacer * 0.75);
}


@include media-breakpoint-up(lg) {
  .border-left-lg {
    border-left: 1px solid #aaaaaa;
  }
}
