{% extends 'layout/base.html' %}

{% block content %}
<section>
 <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-5">
      	<p class="mt-5 txt-Bienvenido">BIENVENIDO AL SISTEMA<br>DE DECLARACIONES DE <br>LA<span class="ciudad-Mexico"> CIUDAD DE MÉXICO</span></p>
      	<p class="txt-Servidor">Si eres servidor público de la Ciudad de México aquí <br>puedes realizar tus declaraciones.</p>
      </div>
      <div class="col-xs-auto col-sm-auto col-md-auto mt-5 caja">

      </div>
      <div class="col-xs-11 col-sm-11 col-md-4 mt-5">
      	<p class="Ingresa-al-sistema mt-5">Tu contraseña ha sido cambiada. Vuelve a iniciar sesión  <a href="{% url 'login' %}"><span class="Ingresa-al-sistema mt-5">aquí</span></a></p>
       </div>
      <div class="col-xs-1 col-sm-1 col-md-2">
      </div>
  </div>
</div>
 </section>
 <div style="height:500px;">
</div>
{% endblock %}
