{% extends 'layout/base.html' %}
{% block content %}

<section class="container">
    <div class="row row-md my-7 py-7">
        <div class="col-md-6">
            <h1 class="text-gray text-xl font-weight-medium text-uppercase line-height-md hyphen-auto title-mobile text-mobile">Reestablecimiento <br> de <span class="text-primary-light font-weight-semibold">Contraseña</span></h1>
        </div>
        <div class="col-md-6 border-left">
            <h2 class="Ingresa-al-sistema text-uppercase">Reestablece tu contraseña</h2>
            <p class="Escribe-tus-datos-por-favor">Te mandamos un correo con las instrucciones para recuperar tu contraseña</p>
            <p class="Escribe-tus-datos-por-favor">Si no has recibido el correo electrónico es posible que se encuentre en la carpeta Spam</p>
        </div>
    </div>
</section>

{% endblock %}
