{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% block content %}
<section class="container">
  <div class="row row-md my-lg-7 py-7">
    <div class="col-lg-6">
      <h1 class="text-gray text-xl font-weight-medium text-uppercase line-height-md hyphen-auto title-mobile text-mobile">Reestablecimiento <br> de <span class="text-primary-light font-weight-semibold">Contraseña</span></h1>
    </div>
    <div class="col-lg-6 border-left-lg">
      <h2 class="Ingresa-al-sistema mb-0 text-uppercase">Reestablece tu contraseña</h2>
      <p class="Escribe-tus-datos-por-favor">Escribe tus datos por favor</p>
      {% if validlink %}
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" class="btn btn-primary mt-4 text-uppercase">Cambiar</button>
        </form>
      {% else %}
        <p>Esta liga es inválida</p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
