{% include 'layout/headertop.html' %}
{% load bootstrap4 %}
{% load static %}
<section>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-xs-0 col-sm-0 col-md-0 col-lg-2 col-xl-2">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-5">
      	<p class="mt-5 txt-Bienvenido">BIENVENIDO AL SISTEMA<br>DE DECLARACIONES DE <br>LA<span class="ciudad-Mexico"> CIUDAD DE MÉXICO</span></p>
      	<p class="txt-Servidor">Si eres servidor público de la Ciudad de México aquí <br>puedes realizar tus declaraciones.</p>
      </div>
      <div class="col-xs-auto col-sm-auto col-md-auto mt-5 caja">

      </div>
      <div class="col-xs-11 col-sm-11 col-md-4 mt-5">
      	<p class="Ingresa-al-sistema mt-5 mb-1">INGRESA AL SISTEMA</p>
      	<p class="Escribe-tus-datos-por-favor">Escribe tus datos por favor {{ user.first_name }} {{ user.last_name }}</p>
      	<form action="{% url 'cambiar' %}" method="post">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}

                        {% if message.tags == "success" %}
                            <div class="alert alert-success alert-dismissable alert-link">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                 <strong>{{ message }}</strong>
                            </div>
                        {% endif %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissable alert-link">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                 <strong>{{ message }}</strong>
                            </div>
                        {% endif %}


                {% endfor %}
            {% endif %}

            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mt-4"  >CAMBIAR</button>
              <p class="Olvidaste-tu-contrasea mt-3"><a href="{% url 'recuperar' %}" class="text-reset" data-toggle="modal" data-target="#ventana-modal" data-whatever="@mdo">¿Olvidaste tu contraseña?</a></p>
             <!-- <p class="An-no-tienes-cuenta-Crear-cuenta">¿Aún no tienes cuenta? <span class="texto-Crear-Cuenta">Crear cuenta</span></p>-->
        </form>
       </div>
      <div class="col-xs-1 col-sm-1 col-md-2">
      </div>
  </div>
</div>
 </section>
 <div style="height:500px;">
</div>

<!-- Ventana modal para recuperar la contraseña con RFC como Homoclave  -->
<div class="modal fade" id="ventana-modal" tabindex="-1" role="dialog" aria-labelledby="lost-password-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close text-base" data-dismiss="modal" aria-label="Close">CERRAR
          <img src="{% static 'src/img/close.svg' %}" alt="Cerrar" class="svg">
        </button>
        <h3 class="modal-title mt-5 mb-3 text-lg text-uppercase font-weight-normal" id="lost-password-label">Para recuperar tu contraseña escribe tu <span class="text-black">RFC con homoclave</span> por favor</h3>
        <form action="{% url 'password_reset' %}" method="post" id="form_reset" class="mb-2">
          {% csrf_token %}
          <div class="form-group valida_rfc " id="rec-rfc">
            <input type="text" class="form-control bg-transparent" id="id_rfc_rs" name="rfc" placeholder="RFC con homoclave" required autofocus>
          </div>
        </form>
        <p class="text-success-lighter text-md">Si desconoces tu RFC o necesitas cambiarlo ponte en contacto con el enlace de tu ente público.</p>
        <div class="text-right">
          <button type="button" class="btn btn-primary font-weight-semibold" id="recuperar">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Ventana modal despues de que el usuario ya escribio el RFC como homoclave  -->
<div class="modal fade" id="modal-recuperar-contrasena" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title mt-5" id="modal-recuperar-contraseña"></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="cerrar-modal"><p style="font-size: 16px;">CERRAR &nbsp; <img src="/static/src/img/cerrar.png"width="18" height="18" alt="" class="svg" style=" float: right"></p></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group text-center">
            <p class="text-primary">¡MUCHAS GRACIAS!</p>
            <p>Hemos envíado a tu correo las<br>instrucciones para reestablecer<br>la contraseña.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>



{% include 'layout/footer.html' %}
