{% include '../layout/headertop.html' %}
{% load static %}
<section>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 mt-5 p-0">
        <p class="text-gray text-xl mt-5"><span class="text-primary-light font-weight-semibold ">INFORMACIÓN</span></p>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-4">
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5  ">
              <h5 class="mb-0 text-md">ALCALDÍA DE ÁLVARO OBREGÓN </h5>
              <hr class="mt-1">
              <div class="info-alcaldia">
                  <p class="mb-0">Titular del Órgano Interno de Control</p>
                  <p class="font-weight-bold mb-1">Licenciado Luis Guillermo Fritz Herrera</p>
                  <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5516 0977</p>
                  <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> igfritzh@contraloriadf.gob.mx</p>
                  <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Prolongación Calle 10 S/N Col: Tolteca, Alcaldía 009 Alvaro Obregón, Entidad Federativa: 09 Ciudad de México C.P. 01150 </p>
              </div>
            </div>
            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE AZCAPOTZALCO</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciado José Bernardo Portas Rubio</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5561 9119</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> jbportasr@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle Castillo Oriente y 22 De Febrero S/N Colonia: Azcapotzalco Centro, Alcaldía: 002 Azcapotzalco, Entidad Federativa: 09 Ciudad de México C.P 02200</p>
                </div>
            </div>
            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE BENITO JUÁREZ </h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciado Guillermo Evando Aguilar Alcántara</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5605 9694</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> gaguilara@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Av. División Del Norte No. 1611 Colonia: Santa Cruz Atoyac, Alcaldía 014 Benito Juárez, Entidad Federativa: 09 Ciudad de México C.P. 03310</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE COYOACÁN </h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciada Irma Ruth Lara Gallegos</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5554 3360</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> irlarag@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle Jardín Hidalgo No.1 Colonia: Del Carmen, Localidad: 001 Coyoacán, Alcaldía: 0003 Coyoacán, Entidad Federativa: 09 Ciudad de México C.P. 04100</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE CUAJIMALPA </h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciada Verónica Alicia Hernández Vera</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5512 3308</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> vehernandezzv@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Av. Juárez Esq. Av. México S/N Edif. Benito Juárez 2° Piso Colonia: Del Carmen, Alcaldía: 004 Cuajimalpa, Entidad Federativa: 09 Ciudad de México C.P. 05000</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE CUAUHTÉMOC</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciada Ivette Naime Javelly</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 2452 3148</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> inamej@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle Aldama y Mina S/N, Colonia: Buena Vista, Alcaldía: 015 Cuauhtemóc, Entidad Federativa: 09 Ciudad de México, C.P. 06357</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE GUSTAVO A. MADERO</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Ingeniero Alberto Osvaldo Flores Vega</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5781 3304</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> afloresv@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle 5 De Febrero Esq. Vicente Villada, S/N Colonia: Gustavo A. Madero, Entidad Federativa: 09 Ciudad de México, C.P.07059</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE IZTACALCO</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Maestro Fabián Saracho Sandoval</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5657 2146</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> fsarachos@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle Plaza Benito Juárez S/N Esq. Av. Río Churubusco y Av. Té, Colonia: Gabriel Ramos Millán, Sección: Bramadero, Alcaldía Iztacalco, Entidad Federativa: 09 Ciudad de México, C.P. 09000</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md">ALCALDÍA DE IZTAPALAPA</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Maestra Betzabé Ramón Jaramillo</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5445 1151</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> bramonj@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle: Aldama No. 63, Colonia: Barrio San Lucas, Localidad: 001 Iztapalapa, Alcadía: 0007 Iztapalapa, Entidad Federativa: 09 Ciudad de México, C.P.09000</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md"> ALCALDÍA DE MAGDALENA CONTRERAS</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciado Salvador Omar Imbert López</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5449 6107</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> soimbertl@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle: Río Blanco No. 9, Colonia: Barranca Seca, Localidad: 001 La Magdalena Contreras, Alcaldía: 008 La Magdalena Contreras, Entidad Federativa: 09 Ciudad de México, C.P. 10580</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md"> ALCALDÍA DE MIGUEL HIDALGO</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciado Arturo Salinas Cebrían</p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5276 7700 Ext. 3524 </p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> fvillareals@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Monte Altai Esq. Monte Alpes S/N, Colonia: Lomas De Chapultepec, Localidad 001 Miguel Hidalgo, Alcaldía: 016 Miguel Hidalgo, Entidad Federativa: 09 Ciudad de México, C.P. 11000</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md"> ALCALDÍA DE MILPA ALTA</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciado Fernando Villarreal Sánchez </p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5844 0733</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> fvillareals@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Constitución Av. México, S/N , Colonia: Villa Milpa Alta Localidad: 001 Villa Milpa Alta, Alcaldía: 001 Milpa Alta, Entidad Federativa: 09 Ciudad de México, C.P. 12000</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md"> ALCALDÍA DE TLAHUÁC</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Yuki Elena Susuda Valverde </p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 58623250 Ext. 1444</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> yesusudav@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle: Andador Hidalgo, S/N, Edif. León Avicario Planta Alta, Colonia: Barrio San Miguel, Alcaldía: Tlahúac, Entidad Federativa: 09 Ciudad de México, C.P. 13070</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md"> ALCALDÍA DE TLALPAN</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Licenciada Isis Jennifer Barba Cabrales </p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5655 4643</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> ibarbac@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Av. San Fernando No. 84, Piso 1 Esq. Francisco I. Madero, Colonia: Tlalpan Centro, Alcaldía: Tlalpan, Entidad Federativa: 09 Ciudad de México, C.P. 14000</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md"> ALCALDÍA DE VENUSTIANO CARRANZA</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1">Maestra Violeta Ivette Aguilar Fregoso </p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5768 3110</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> viaguilarf@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Francisco del Paso y Troncoso No. 219 "Anexo B", Colonia: Jardín Balbuena, Alcaldía: Venustiano Carranza, V, C.P. 159000</p>
                </div>
            </div>

            <div class="col-sm col-lg-4 mb-3 text-md p-2 pr-5 ">
                <h5 class="mb-0 text-md"> ALCALDÍA DE XOCHIMILCO</h5>
                <hr class="mt-1">
                <div class="info-alcaldia">
                    <p class="mb-0">Titular del Órgano Interno de Control</p>
                    <p class="font-weight-bold mb-1"> Licenciado Saúl Flores Reyes </p>
                    <p class="mb-2"><img src="{% static 'src/img/telefono.svg'%}"> 5634 0667</p>
                    <p class="mb-2"><img src="{% static 'src/img/mensaje.svg'%}"> afloresr@contraloriadf.gob.mx</p>
                    <p class="mb-2"><img src="{% static 'src/img/ubicacion.svg'%}"> Calle: Gladiolas No. 161, Planta Baja, Colonia: Barrio De San Pedro Xochimilco, Alcaldía: Xochimilco, Entidad Federativa: 09 Ciudad de México, C.P.16090</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% include '../layout/footer.html' %}
