{% include 'layout/headertop.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include 'layout/sidebar.html' %}
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-reset">INGRESO</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sueldos y salarios públicos</li>
                </ol>
            </nav>
            <h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 mb-3 text-uppercase">3. INGRESO <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">I. Sueldos y salarios públicos</span></h2>
            <form action="{% url 'declaracion:ingresos-publicos' folio_declaracion %}" method="post" novalidate>
                 {% csrf_token %}

                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                          {% bootstrap_label "Ente público (persona física o moral)<span class='text-danger text-lg font-weight-bold'>*</span>:" label_for="cat_entes_publicos" label_class="label-secondary"%}
                          <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar el Ente que realiza el pago al Declarante.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                          </button>
                            {% bootstrap_field form.cat_entes_publicos placeholder="Ente público" show_label=False%}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            {% bootstrap_label "RFC del ente público (si aplica)<span class='text-danger text-lg font-weight-bold'>*</span>:" label_for="rfc" label_class="label-secondary"%}
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.rfc placeholder="RFC del ente público"  field_class='valida_rfc'  show_label=False %}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            {% bootstrap_label "Ingreso bruto anual recibido por el encargo público<span class='text-danger text-lg font-weight-bold'>*</span>:" label_for="ingreso_bruto_anual" label_class="label-secondary"%}
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Ingreso del Declarnte sin impuestos ni deducciones.">
                              <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field form.ingreso_bruto_anual placeholder="Monto" show_label=False%}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                             {% bootstrap_label "Moneda<span class='text-danger text-lg font-weight-bold'>*</span>:" label_for="cat_monedas" label_class="label-secondary"%}
                             <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar tipo de moneda.">
                                 <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                             </button>
                             {% bootstrap_field form.cat_monedas placeholder="Monto" field_class="moneda" show_label=False%}

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">

                            <div class="row pb-4">
                                <div class="col-12">
                                    <label for="unidad-temporal" class="text-muted text-sm mb-0">Unidad temporal<span class="text-danger text-lg font-weight-bold">*</span></label>
                                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"
                                            title="Medición de actividad.">
                                        <img src="{% static 'src/img/info.svg' %}" alt="info" class="svg">
                                    </button>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-radio custom-control-inline radio-secondary ">
                                        <input {% if not form.fecha_transaccion.initial %} checked {% endif %} type="radio" id="id-es-unica-f" value="false" name="sueldos_publicos-es_transaccion"
                                               class="custom-control-input" onchange="dui.radioUnica('id-frecuencia-container')">
                                        <label class="custom-control-label text-rg" for="id-es-unica-f">Duración
                                            Frecuencia</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-radio custom-control-inline radio-secondary">
                                        <input {% if form.fecha_transaccion.initial %} checked {% endif %} type="radio" id="id-es-unica-m" value="true" name="sueldos_publicos-es_transaccion"
                                               class="custom-control-input " onchange="dui.radioUnica('id-unica-container')">
                                        <label class="custom-control-label text-rg" for="id-es-unica-m">Transacción Única</label>
                                    </div>
                                </div>

                            </div>
                                <div class="col-12" id="id-frecuencia-container" style="display: {% if form.fecha_transaccion.initial %} none {% endif %};">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">

                                                <input type="checkbox" class=""
                                                       id="id_ingresos_varios-ut_dias" name="ingresos_varios-ut_dias">
                                                <label class="form-check-label text-rg" for="id_ingresos_varios-ut_dias">Días</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group ">
                                                <input type="checkbox" class=""
                                                       id="ingresos_varios-ut_meses">
                                                <label class="form-check-label text-rg"
                                                       for="ingresos_varios-ut_meses">Meses</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <input type="checkbox" class=""
                                                       id="ingresos_varios-ut_anual">
                                                <label class="form-check-label text-rg"
                                                       for="ingresos_varios-ut_anual">Años</label>
                                            </div>
                                        </div>

                                         <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="ingreso-bruto-anual" class="text-muted text-sm mb-0">Duración/frecuencia total</label><br>
                                                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Medición Total.">
                                                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                                                </button>
                                                <label for="moneda" class="text-muted text-sm mb-0"> Indicar el número de días,
                                                    meses y/o años que abarcó la actividad</label>
                                                <div class="form-row">
                                                    <div class="col-4 form-group">
                                                        {% bootstrap_field form.duracion_dias  show_label=False placeholder="Duración días" %}

                                                    </div>
                                                    <div class="col-4 form-group">
                                                        {% bootstrap_field form.duracion_meses  show_label=False placeholder="Duración meses"%}
                                                    </div>
                                                    <div class="col-4 form-group">
                                                        {% bootstrap_field form.duracion_anual  show_label=False placeholder="Duración anual"%}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <div class="col-12" id="id-unica-container" style="display: {% if not form.fecha_transaccion.initial %} none {% endif %};">
                                    <label for="observaciones" class="label-secondary">Fecha de la transacción</label>
                                    <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Fecha de la transacción.">
                                        <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                                    </button><br/>
                                    {% bootstrap_field form.fecha_transaccion    show_label=False%}

                                </div>
                            </div>

                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="observaciones" class="label-secondary">Observaciones y comentarios<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Detallar información de sueldos y salarios.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>

                            {% bootstrap_field observaciones_form.observacion  show_label=False %}
                        </div>
                    </div>
                   </div>
                    {% include 'layout/guardar.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% include 'layout/footer.html' %}
