{% include 'layout/headertop.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include 'layout/sidebar.html' %}
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-reset">Información personal</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Datos del cónyuge, concubina o concubinario y/o dependientes económicos</li>
                </ol>
            </nav>
            <h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 text-uppercase mb-3">1. Información personal <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">V. Datos del cónyuge, concubina o concubinario y/o dependientes económicos</span></h2>
            {% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Nombre" titulo_dos="Tipo de relación" titulo_tres="Fecha de nacimiento" agregar=agregar editar_id=editar_id %}
            {% if agregar %}
              <form action="{% url 'declaracion:dependientes-economicos-agregar' folio_declaracion %}" method="post" novalidate>
            {% elif editar_id %}
              <form action="{% url 'declaracion:dependientes-economicos-editar' folio_declaracion editar_id %}" method="post" novalidate>
            {% else %}
              <form action="{% url 'declaracion:dependientes-economicos' folio_declaracion %}" method="post" novalidate>
            {% endif %}
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <label class="label-secondary">Tipo de relación<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar el tipo de relación con el cónyuge o dependiente económico">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/relaciones.html' with field_select=conyuge_dependiente_form.fields.cat_tipos_relaciones_personales field_name=conyuge_dependiente_form.cat_tipos_relaciones_personales otro_name=conyuge_dependiente_form.otra_relacion_familiar otrof_name=conyuge_dependiente_form.otra_relacion col=2 col_o=4  %}
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="relacion-nombre" class="label-secondary">Nombre(s)<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Nombre(S) completos del cónyuge o dependiente económico, sin abreviaturas y preferentemente sin acentos  ni  signos  especiales.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.nombres   show_label=False %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="relacion-apellido1" class="label-secondary">Primer apellido<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Apellido que se presenta en la primer posición después del nombre o nombres de pila en el acta de nacimiento.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.apellido1    show_label=False placeholder="Primer apellido" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="relacion-apellido2" class="label-secondary">Segundo apellido</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Apellido que se presenta en la segunda posición después del nombre o nombres de pila en el acta de nacimiento.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.apellido2  show_label=False placeholder="Segundo apellido" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-flex flex-column">
                            <div>
                                <label for="relacion-nacionalidad" class="label-secondary">Nacionalidad(es)<span class="text-danger text-lg font-weight-bold">*</span></label>
                                <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Nacionalidad(es) del cónyuge o dependiente económico.">
                                    <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                                </button>
                            </div>
                            {% bootstrap_field info_personal_var_form.nacionalidades  field_class="multiples-nacionalidades"  show_label=False %}
                             <button type="button" class="btn btn-link btn-sm text-sm btn-link-plus p-0 align-self-end agregar-nacionalidad">Agregar otra nacionalidad
                                <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="relacion-curp" class="label-secondary">CURP <small class="text-help text-primary">(si aplica)</small><span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 18 caracteres de la Clave Unica de Registro de Población.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.curp  field_class='valida_curp'  show_label=False placeholder="CURP" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="relacion-rfc" class="label-secondary">RFC <small class="text-help text-primary">(si aplica)</small></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Los 10 caracteres básicos y los 3 caracteres de la homoclave.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.rfc  field_class='valida_rfc' show_label=False placeholder="RFC" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="label-secondary">Fecha de nacimiento<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="dd/mm/aaaa">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="form-row">
                            {% bootstrap_field info_personal_var_form.fecha_nacimiento  show_label=False placeholder="Fecha de nacimiento" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="identificacion-numero" class="label-secondary">Número de identificación<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Escribir el número de la Identificación Oficial según corresponda. ">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.num_id_identificacion  show_label=False placeholder="Número de identificación" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="label-secondary">Habita en el domicilio del Declarante<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Si / No">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="row">
                            <div class="col-auto">
                                <div class="custom-control custom-radio custom-control-inline radio-secondary">
                                    <input type="radio" id="mismo-domicilio-si" name="conyuge_dependiente-habita_domicilio" value="true" class="custom-control-input" {% if not conyuge_dependiente_form.habita_domicilio.initial %}checked{% endif %}  {% if conyuge_dependiente_form.habita_domicilio.initial == True %}checked{% endif %} >
                                    <label class="custom-control-label text-rg" for="mismo-domicilio-si">Sí</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-radio custom-control-inline radio-secondary">
                                    <input type="radio" id="mismo-domicilio-no" name="conyuge_dependiente-habita_domicilio" value="false" class="custom-control-input" {% if conyuge_dependiente_form.habita_domicilio.initial == False %}checked{% endif %}>
                                    <label class="custom-control-label text-rg" for="mismo-domicilio-no">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="label-secondary">Domicilio</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Lugar donde se ubica.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                    </div>
                    {% include 'declaracion/direccion.html' with form=domicilio_form pais=True %}
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contacto" class="label-secondary">Medio de contacto</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Proporcionar un número telefónico de contacto o, en su defecto, un correo electrónico personal">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field conyuge_dependiente_form.medio_contacto  show_label=False placeholder="Medio de contacto" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contacto" class="label-secondary">Correo electrónico<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Proporcionar un correo electrónico de contacto">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.email_personal show_label=False placeholder="Correo electrónico"  field_class='valida_email'  %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contacto" class="label-secondary">Teléfono<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Proporcionar un número telefónico de contacto">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.tel_particular show_label=False placeholder="Teléfono"  field_class="valida_telefono"  %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ocupacion" class="label-secondary">Ocupación / Profesión<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Ocupación o profesión del cónyuge o dependiente económico.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field info_personal_var_form.ocupacion_girocomercial  show_label=False placeholder="Ocupación / Profesión" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="label-secondary">Cuenta con ingresos propios<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Marcar si cuenta o no.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="row">
                            <div class="col-auto">
                                <div class="custom-control custom-radio custom-control-inline radio-secondary">
                                    <input type="radio" id="ingresos-si" name="conyuge_dependiente-ingresos_propios" value="true" class="custom-control-input" {% if not conyuge_dependiente_form.ingresos_propios.initial %}checked{% endif %}  {% if conyuge_dependiente_form.ingresos_propios.initial == True %}checked{% endif %}>
                                    <label class="custom-control-label text-rg" for="ingresos-si">Sí</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="custom-control custom-radio custom-control-inline radio-secondary">
                                    <input type="radio" id="ingresos-no" name="conyuge_dependiente-ingresos_propios" value="false" class="custom-control-input" {% if conyuge_dependiente_form.ingresos_propios.initial == False %}checked{% endif %}>
                                    <label class="custom-control-label text-rg" for="ingresos-no">No</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <label class="label-secondary mb-2">Sector / industria<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Sector o Área laboral al que pertenece el cónyuge o dependiente económico.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=info_personal_var_form.fields.cat_sectores_industria  field_name=info_personal_var_form.cat_sectores_industria otro_name=info_personal_var_form.otro_sector %}

                    </div>

                    <div class="col-12 my-2">
                        <label class="label-secondary mb-2">¿Es proveedor o contratista de gobierno?</label>
                        <button type="button" class="btn btn-link p-0 btn-information mr-3" data-toggle="tooltip" tabindex="9999"  title="Indicar Si / No">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="proveedor-gobierno-no" name="conyuge_dependiente-proveedor_contratista" {% if conyuge_dependiente_form.proveedor_contratista.initial == 0 %} checked {% endif %} value="false" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="proveedor-gobierno-no">No</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="proveedor-gobierno-si" name="conyuge_dependiente-proveedor_contratista" {% if conyuge_dependiente_form.proveedor_contratista.initial == 1 %} checked {% endif %} value="true" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="proveedor-gobierno-si">Sí</label>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="label-secondary mb-2">¿Tiene el familiar o dependiente intereses en el mismo sector/industria al que pertenece el empleo oficial del Declarante?<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information mr-3" data-toggle="tooltip" tabindex="9999"  title="Indicar Si / No">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="relacion-intereses-no" name="conyuge_dependiente-intereses_comunes" {% if conyuge_dependiente_form.intereses_comunes.initial == 0 %} checked {% endif %} value="false" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="relacion-intereses-no">No</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="relacion-intereses-si" name="conyuge_dependiente-intereses_comunes" {% if conyuge_dependiente_form.intereses_comunes.initial == 1 %} checked {% endif %} value="true" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="relacion-intereses-si">Sí</label>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="label-secondary mb-2">¿Desarrolla el familiar o dependiente actividades de cabildeo en el mismo sector/industria al que pertenece el empleo oficial del declarante?<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information mr-3" data-toggle="tooltip" tabindex="9999"  title="Indicar Si / No">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="cabildeo-no" name="conyuge_dependiente-cabildeo_sector" {% if conyuge_dependiente_form.cabildeo_sector.initial == 0 %} checked {% endif %} value="false" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="cabildeo-no">No</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="cabildeo-si" name="conyuge_dependiente-cabildeo_sector" {% if conyuge_dependiente_form.cabildeo_sector.initial == 1 %} checked {% endif %} value="true" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="cabildeo-si">Sí</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="relacion-comentarios" class="label-secondary">Observaciones y comentarios<span class="text-danger text-lg font-weight-bold">*</span></label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Observaciones y Comentarios.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                             {% bootstrap_field observaciones_form.observacion show_label=False placeholder="Observaciones y comentarios" %}
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <label class="label-secondary mb-2">¿El familiar o dependiente es beneficiario directo de un programa público (apoyo, subsidio, transferencia)?</label>
                         <button type="button" class="btn btn-link p-0 btn-information mr-3" data-toggle="tooltip" tabindex="9999"  title="Indicar Sí / No">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="tiene_apoyos-no" name="conyuge_dependiente-tiene_apoyos" {% if conyuge_dependiente_form.tiene_apoyos.initial == 0 %} checked {% endif %} value="false" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="tiene_apoyos-no">No</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline radio-secondary">
                            <input type="radio" id="tiene_apoyos-si" name="conyuge_dependiente-tiene_apoyos" {% if conyuge_dependiente_form.tiene_apoyos.initial == 1 %} checked {% endif %} value="true" class="custom-control-input">
                            <label class="custom-control-label text-rg" for="tiene_apoyos-si">Sí</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="beneficio-nombre te" class="label-secondary">Nombre del programa</label>
                             <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Nombre del programa al que es beneficiario.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field apoyos_form.nombre_programa show_label=False placeholder="Nombre del programa" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="beneficio-institucion" class="label-secondary">Institución que otorga el apoyo<span class="text-danger text-lg font-weight-bold">*</span></label>
                             <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Institución que brinda el apoyo.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field apoyos_form.institucion_otorgante show_label=False placeholder="Institución que otorga el apoyo" %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="nivel-gobierno" class="text-muted text-sm mb-0">Nivel / orden de gobierno</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Federal/Estatal/Municipal.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                        {% include 'layout/radiobuttons.html' with field_select=apoyos_form.fields.cat_ordenes_gobierno  field_name=apoyos_form.cat_ordenes_gobierno %}
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="beneficio-tipo" class="label-secondary">Tipo de apoyo<span class="text-danger text-lg font-weight-bold">*</span></label>
                             <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Subsidio/Servicio/Obra/Otro.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% include 'layout/radiobuttons.html' with field_select=apoyos_form.fields.cat_tipos_apoyos  field_name=apoyos_form.cat_tipos_apoyos otro_name=apoyos_form.otro_apoyo col=2 col_o=6 %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="beneficio-valor" class="label-secondary">Valor del apoyo<span class="text-danger text-lg font-weight-bold">*</span></label>
                             <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Monto del apoyo anual.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field apoyos_form.valor_anual show_label=False placeholder="Valor del apoyo" %}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="id_observaciones_apoyos-observacion" class="label-secondary">Observaciones y comentarios</label>
                            <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Observaciones y Comentarios.">
                                <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                            </button>
                            {% bootstrap_field observaciones_apoyos_form.observacion  show_label=False placeholder="Observaciones y comentarios" %}
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-primary font-weight-semibold text-uppercase">
                      Guargar y agregar otra persona
                        <img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
                    </button>
                </div>
                {% include 'layout/guardar.html' %}
                <div class="row"><div class="col-12"><br/></div></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% include 'layout/footer.html' %}