{% load static %}
        </div>
        <footer class="footer">
            <div class="container-fluid py-3">
                <div class="row">
                    <div class="col-md mb-3 mb-md-0">
                        <a class="navbar-brand" href="{% url 'declaracion:perfil' %}">
                            <img src="{% static 'src/img/logo.png' %}" alt="Gobierno de la Ciudad de México" class="footer__logo">
                        </a>
                    </div>
                    <div class="col-md mb-2 mb-md-0">
                        <p class="footer__heading text-uppercase">¿Tienes dudas?</p>
                        <div class="d-flex">
                            <img src="{% static 'src/img/telefono.png' %}" class="mr-2 footer__icon">
                            <div>
                                <p class="m-0">Teléfono para dudas y aclaraciones <strong>56279700</strong></p>
                                <p class="m-0">Extensión 50721, 50029, 50023, 50030, 50227, 50226.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="d-flex mb-2">
                            <img src="{% static 'src/img/ubicacion.png' %}" class="mr-2 footer__icon">
                            <p class="m-0">Tlaxcoaque 8, Centro, C.P 06080, Cuauhtémoc, Ciudad de México | Lunes a Viernes de 9:00 a 18:00</p>
                        </div>
                        <div class="d-flex">
                            <img src="{% static 'src/img/mensaje.png' %}" class="mr-2 footer__icon">
                            <a href="mailto:patrimonio@cdmx.gob.mx">patrimonio@cdmx.gob.mx</a>
                        </div>
                    </div>
                    <div class="col-lg-auto text-center mt-3 mt-lg-0">
                        <p class="mb-1 text-lg-left">Desarrollado por</p>
                        <a href="https://adip.cdmx.gob.mx/" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'src/img/logo-dark.svg' %}" alt="Agencia Digital de Innovación Pública">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>
