{% include 'layout/headertop.html' %}
{% load static %}
{% load bootstrap4 %}
{% load flujo_declaracion %}
{% load no_aplica %}
{% no_aplica as checked %}
{% block content %}
<div class="container-fluid h-100">
	<div class="row h-100">
		{% include 'layout/sidebar.html'%}
		<div class="col-md-9">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb text-sm text-uppercase font-weight-extralight">
					<li class="breadcrumb-item"><a href="#" class="text-reset">Declaración en curso</a></li>
					<li class="breadcrumb-item"><a href="#" class="text-reset">Activos</a></li>
					<li class="breadcrumb-item active" aria-current="page">Efectivo y metales</li>
				</ol>
			</nav>
			<h1 class="text-uppercase text-black h5">Declaración de intereses y patrimonial <span class="text-primary">{% tipo_declaracion %}</span></h1>
            <h2 class="h6 text-uppercase mb-3">4. Activos <span class="text-black mx-1">|</span> <span class="text-primary font-weight-light">V. Efectivo y metales </span></h2>
			{% if agregar %}
        <form action="{% url 'declaracion:efectivo-metales-agregar' folio_declaracion %}" method="post" novalidate>
      {% elif editar_id %}
        <form action="{% url 'declaracion:efectivo-metales-editar' folio_declaracion editar_id %}" method="post" novalidate>
      {% else %}
        <form action="{% url 'declaracion:efectivo-metales' folio_declaracion %}" method="post" novalidate>
      {% endif %}
    			{% csrf_token %}
					<div class="row">
						{% include 'layout/no_aplica.html' %}
					</div>
					{% include 'layout/informacion-registrada.html' with registros=informacion_registrada titulo_uno="Tipo de operación" titulo_dos="Forma de adquisición" titulo_tres="Tipo metal" agregar=agregar editar_id=editar_id %}
					<div class="row row-form" style="{% if checked %}display: none;{% endif %}">
	  				<div class="col-12 mb-2">
                        <label class="label-secondary mb-2">Tipo de operación<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar tipo de operación al activo que se declara.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                    	{% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_operaciones  field_name=form.cat_tipos_operaciones otro_name=form.otro_tipo_operacion  col=2 col_o=6 %}
                    </div>
	  				<div class="col-md-3 mt-2">
						<label  class="label-secondary">Tipo de Moneda<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar la moneda de posesión.">
							<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
						</button>
						{% bootstrap_field  form.cat_monedas field_class="moneda" show_label=False%}
			  		</div>
			  		<div class="col-md-3 mt-2" >
						<label  class="label-secondary">Monto<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Cantidad total que representa la posesión.">
							<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
						</button>
						{% bootstrap_field  form.monto_efectivo    show_label=False%}
			  		</div>
                    <div class="col-md-3 mt-2" >
			  		</div>

			  		<div class="col-12 mt-2">
                        <label class="label-secondary mb-2">Tipo metal</label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar tipo de metal.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>

                    {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_tipos_metales  field_name=form.cat_tipos_metales otro_name=form.otro_metal  col=2 col_o=6%}


                    </div>

	  				<div class="col-md-3 mt-2">
						<label  class="label-secondary">Unidades<span class="text-danger text-lg font-weight-bold">*</span></label>
						<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Número de unidades de metal con las que cuenta.">
							<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
						</button>
						{% bootstrap_field  form.unidades  show_label=False%}
			  		</div>
			  			<div class="col-md-3 mt-2" >
							<label  class="label-secondary">Monto<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Monto económico total.">
								<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
							</button>
							{% bootstrap_field  form.monto_metales show_label=False  %}
						</div>
			  		<div class="col-12 mb-2">
                        <label class="label-secondary mb-2">Forma de adquisición<span class="text-danger text-lg font-weight-bold">*</span></label>
                        <button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Indicar la forma o vía de la adquisición.">
                            <img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
                        </button>
                    {% include 'layout/radiobuttons.html' with field_select=form.fields.cat_formas_adquisiciones  field_name=form.cat_formas_adquisiciones otro_name=form.otra_forma  col=2 col_o=6  %}


                    </div>

	  				<div class="col-md-12" style="margin-top: 2rem;">
  						<div class="form-group">
							<label  class="label-secondary" for="textForm">Observaciones y comentarios<span class="text-danger text-lg font-weight-bold">*</span></label>
							<button type="button" class="btn btn-link p-0 btn-information" data-toggle="tooltip" tabindex="9999"  title="Detallar información de efectivo y metales.">
								<img src="{% static 'src/img/info.svg'%}" alt="info" class="svg">
							</button>
						    {% bootstrap_field  observaciones_form.observacion show_label=False placeholder="Observaciones y comentarios" %}
						</div>

		  			</div>
                    </div>

  				<div class="text-right row-form" style="{% if checked %}display: none;{% endif %}">
	                <button type="submit" name="accion" value="guardar_otro" class="btn btn-link btn-link-plus text-success font-weight-semibold text-uppercase">
										Guardar y agregar otro efectivo o metales<img src="{% static 'src/img/plus.svg'%}" alt="agregar" class="svg">
	                </button>
	            </div>

	            {% include 'layout/guardar.html' %}
				<div class="row"><div class="col-12"><br/></div></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% include 'layout/footer.html' %}
